
<div class="col-md-8 mx-auto">
    <button (click)="gotoList()" class="btn btn-primary" style="float: right;">لائحة المأجورين <i class="fa fa-arrow-right"></i></button> <br> <br>
    <div class="card card-default  mx-auto">
        <div class="card-header" style="text-align: center;">
            رقم مكتب التصويت : <span>{{currentAxe?.numBureau}} </span><span>(دار الشباب المسيرة العيون)</span>
        </div>
        <div class="card-body">
            <form #f="ngForm" (ngSubmit)="onUpdateAxe(f.value)" *ngIf="currentAxe">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label  class="control-label">
                                عدد المصوتين
                            </label>
                            <input type="number" name="nbrMos" ngModel  [(ngModel)]="currentAxe.nbrMos" class="form-control">
                        </div>
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label  class="control-label">
                                عدد المسجلين
                            </label>
                            <input type="number" name="nbrInscrits" ngModel [(ngModel)]="currentAxe.nbrInscrits" class="form-control">
                        </div>
                      
                    </div>
                </div>
              
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label  class="control-label">
                                الالئحة 1
                            </label>
                            <input type="number" name="table1" ngModel [(ngModel)]="currentAxe.table1" class="form-control">
                        </div>
                      
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label  class="control-label">
                                عدد الأوراق الملغاة
                            </label>
                            <input type="number" name="feuillesSupprimes" ngModel  [(ngModel)]="currentAxe.feuillesSupprimes" class="form-control">
                        </div>
                    </div>
                   
                </div>
              
             
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                            <label  class="control-label">
                            الالئحة 3
                            </label>
                            <input type="number" name="table3" ngModel  [(ngModel)]="currentAxe.table3" class="form-control">
                        </div>
                       
                    </div>
                    <div class="col">
                        <div class="form-group">
                            <label  class="control-label">
                            الالئحة 2
                            </label>
                            <input type="number" name="table2" ngModel  [(ngModel)]="currentAxe.table2" class="form-control">
                        </div>
                       
                    </div>
                 
                  
                  
                </div>
              
             
                <button class="btn btn-success" style="float: right;" type="submit">تبديل</button>
        
            </form>
        </div>
       
    </div>
</div>
